#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        colemak_dh {
            display-name = "Colemak-DH";
            bindings = <
                &kp ESC    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5                &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp GRAVE
                &kp TAB    &kp Q     &kp W     &kp F     &kp P     &kp B                 &kp J     &kp L     &kp U     &kp Y     &kp SEMI  &kp MINUS
                &kp LCTRL  &kp A     &kp R     &kp S     &kp T     &kp G                 &kp M     &kp N     &kp E     &kp I     &kp O     &kp SQT
                &kp LSHFT  &kp Z     &kp X     &kp C     &kp D     &kp V  &kp LBKT        &kp RBKT  &kp K     &kp H     &kp COMMA &kp DOT   &kp FSLH  &kp RSHFT
                                           &kp LALT  &kp LGUI  &mo 2  &kp SPACE          &kp RET   &mo 3     &kp BSPC  &kp RGUI
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        qwerty {
            display-name = "QWERTY";
            bindings = <
                &kp ESC    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5                &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp GRAVE
                &kp TAB    &kp Q     &kp W     &kp E     &kp R     &kp T                 &kp Y     &kp U     &kp I     &kp O     &kp P     &kp MINUS
                &kp LCTRL  &kp A     &kp S     &kp D     &kp F     &kp G                 &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
                &kp LSHFT  &kp Z     &kp X     &kp C     &kp V     &kp B  &kp LBKT        &kp RBKT  &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp RSHFT
                                           &kp LALT  &kp LGUI  &mo 2  &kp SPACE          &kp RET   &mo 3     &kp BSPC  &kp RGUI
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower {
            display-name = "Lower";
            bindings = <
                &bt BT_CLR &kp F1    &kp F2    &kp F3    &kp F4    &kp F5                &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11
                &trans     &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT             &kp CARET &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &kp F12
                &trans     &kp GRAVE &kp TILDE &kp BSLH  &kp PIPE  &none                  &none     &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC  &trans
                &to 0      &to 1     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &trans    &trans    &none     &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT  &reset
                                           &trans    &trans    &trans &trans              &trans    &trans    &trans    &trans
            >;
        };

        raise {
            display-name = "Raise";
            bindings = <
                &trans     &trans    &trans    &trans    &trans    &trans                &trans    &trans    &trans    &trans    &trans    &trans
                &trans     &none     &none     &none     &none     &none                 &kp HOME  &kp PG_DN &kp PG_UP &kp END   &none     &trans
                &trans     &none     &none     &none     &none     &none                 &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &kp DEL   &trans
                &trans     &none     &none     &none     &none     &none &trans          &trans    &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp C_PREV &kp C_NEXT &kp C_PP
                                           &trans    &trans    &trans &trans              &trans    &trans    &trans    &trans
            >;
        };
    };
};
